<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Lista Falabella</h1>
    <ul>
        <% productListFalabella.forEach(product => { %>
          <li><%= product.title %> - <%= product.price %></li> 
        <% }); %>
      </ul>
      <h1>Lista Ripley</h1>
    <ul>
        <% productListRipley.forEach(product => { %>
          <li><%= product.title %> - <%= product.price %></li> 
        <% }); %>
      </ul>

</body>
</html>